.menu {
  width: 90px;
  height: 100vh;
  background: #0a1240;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  &_logo {
    margin-top: 20px;
  }
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  &_add {
    margin-top: 40px;
  }
  &_add:hover,
  &_list:hover {
    cursor: pointer;
  }
}
.container_home {
  display: flex;
}
