.loginWrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2 rem;
  width: 250px;
}

.login .title {
  display: inline;
}

.login .title h1 {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.25px;
  color: #222740;
}

.login .title span {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 22px;
  height: 22px;
  border: 7.28791px solid #c0ffe4;
  box-sizing: border-box;
  border-radius: 50%;
}

.mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #6ce9b3 !important;
}

.mdc-text-field--focused .mdc-floating-label--float-above {
  color: #6ce9b3 !important;
}

.login .submit {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #0a1240;
  background: #6ce9b3;
  border-radius: 6px;
  border: none;
  padding: 10px 40px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.login form > div {
  margin: 20px 0;
  width: 100%;
}
